<?xml version="1.0" encoding="utf-8"?>
<!-- Homologación con API v1: tope IIS ≥ RequestBodyLimits (Kestrel/FormOptions). 2147483648 = 2048 MiB (MaxMegabytesCap). -->
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Content-Type-Options" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
