<?xml version="1.0" encoding="utf-8"?>
<!-- Homologación con API v1: tope IIS ≥ RequestBodyLimits (Kestrel/FormOptions). 2147483648 = 2048 MiB (MaxMegabytesCap). -->
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
